<?xml version="1.0" ?>
<robot name="kohaku" xmlns:xacro="http://ros.org/wiki/xacro">

    <!-- import materials -->
    <xacro:include filename="$(find kohaku_description)/urdf/materials_kohaku.xacro" />
    <!-- import transmission -->
    <xacro:include filename="$(find kohaku_description)/urdf/kohaku_hw.trans.xacro" />
    <!-- import tree -->
    <xacro:include filename="$(find kohaku_description)/urdf/kohaku.mesh.xacro" />

</robot>
