<?xml version="1.0"?>
<launch>
  <arg name="gui" default="true"/>
  <arg name="rvizconfig" default="$(find kohaku_description)/launch/urdf_dualarm.rviz"/>

  <include file="$(find kohaku_description)/launch/kohaku_dualarm_upload.launch"/>
  <node if="$(arg gui)" name="joint_state_publisher"
        pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" />
  <node unless="$(arg gui)" name="joint_state_publisher"
        pkg="joint_state_publisher" type="joint_state_publisher" />

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
  <node name="rviz" pkg="rviz" args="-d $(arg rvizconfig)" type="rviz" required="true"/>
</launch>
